<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- Nav Bar -->
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errImg">
                            <img style="width: 40rem;" src="images/404error.jpg" alt="Jitendra Solanki" class="img-fluid" title="jitendra">
                        </figure>
                        <h1><span class="text_clr"> {{errorMsg}} </span></h1>
                        <a href="/"><button>Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    {{>footer}}
</body>
</html>