<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- Nav Bar -->
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--Left Side Div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr"> Salesforce Developer </span> and a learner.</h1>
                        <a href="/"><button>Home</button></a>
                    </div>
                    <!--Right Side Div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img style="width: 40rem;" src="images/jitendra_profile.jpg" alt="Jitendra Solanki" class="img-fluid" title="jitendra">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    {{>footer}}
</body>
</html>